In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [17]:
df=pd.read_csv('train.csv',usecols=['Age','Pclass','Fare','Survived'])
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [18]:
df.isnull().mean()*100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [19]:
x=df.drop(columns='Survived')
y=df['Survived']

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [68]:
knn=KNNImputer(n_neighbors=10,weights='distance')

X_train_trf=knn.fit_transform(X_train)
X_test_trf=knn.transform(X_test)

In [69]:
lr=LogisticRegression()
lr.fit(X_train_trf,y_train)

y_pred=lr.predict(X_test_trf)
accuracy_score(y_test,y_pred)

0.7653631284916201