In [1]:
import numpy as np
import pandas as pd

In [2]:
date=pd.read_csv('orders.csv')
time=pd.read_csv('messages.csv')

In [4]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   object
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [5]:
date['date']=pd.to_datetime(date['date'])
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   datetime64[ns]
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 31.4 KB

In [12]:
date['date_year']=date['date'].dt.month

In [13]:
date

          date  product_id  city_id  orders  date_year
0   2019-12-10        5628       25       3         12
1   2018-08-15        3646       14     157          8
2   2018-10-23        1859       25       1         10
3   2019-08-17        7292       25       1          8
4   2019-01-06        4344       25       3          1
..         ...         ...      ...     ...        ...
995 2018-10-08         255       13       1         10
996 2018-12-06        5521        7       1         12
997 2019-05-07         487       26      14          5
998 2019-03-03        1503       21       2          3
999 2019-10-15        6371        7      22         10

[1000 rows x 5 columns]